@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@import "tailwindcss";

@theme {
  --font-doto: Doto, "sanserif";
  --font-emblema: Emblema One, system-ui;
  --font-bebas: Bebas Neue, "sanserif";
  --font-cinzel: Cinzel, "sanserif";
  --font-bangers: Bangers;
  --font-montserrat: Montserrat;
}
